@let(language = $props.get('language') || 'text')
@let(className = $props.get('class') || 'text-[0.85rem] p-0')
@let(content = $props.get('content') || '')

<pre class="{{ className }}"><code class="language-{{ language }}">{{ content }}</code></pre>
