@let(props = {
  isActive: $props.get('isActive') || false,
  hideIf: $props.get('hideIf') || false,
  title: $props.get('title') || '',
})

<li
  class="{{
    html.classNames([
      {
        'hidden': props.hideIf
      }
    ])
  }}"
  x-data="{ subitem: {{ props.isActive }} }"
>
  <a
    {{
      $props
        .merge({ class: [ 'flex items-center py-[9px] px-3.5 text-sm font-normal rounded-lg cursor-pointer focus:outline-none text-cat-600 dark:text-cat-500 hover:bg-cat-300/20 dark:hover:bg-cat-600/15 before:content-[] before:block before:w-1 before:h-1 before:mx-2 before:mr-3 before:rounded-full before:bg-cat-300 dark:before:bg-cat-600 [&[disabled]]:!select-none [&[disabled]]:!text-cat-500 [&[disabled]]:dark:!text-cat-600 [&[disabled]]:pointer-events-none' ] })
        .except(['isActive', 'hideIf', 'title'])
        .toAttrs()
    }}
    x-bind:class="{
      'bg-cat-300/20 dark:bg-cat-600/15 text-cat-800 dark:text-white before:!bg-accent-400 font-medium dark:before:!bg-accent-400' : subitem,
    }"
  >
    <div class="block w-[0.8em]"></div>
    <div class="line-clamp-1 flex-auto min-w-0 text-start">{{ props.title }}</div>
  </a>
</li>
