@let(props = {
  disabled: $props.get('disabled') || false,
  inset: $props.get('inset') || false,
})

<li>
  <a
    role="menuitem"
    aria-disabled="{{ $disabled ? 'true' : 'false' }}"
    x-dropdown-menu:item
    tabindex="-1"
    {{
      $props
        .merge({
          class: [
            'hover:bg-cat-200 dark:hover:bg-cat-750 focus:bg-cat-200 focus:dark:bg-cat-750',
            'relative flex w-full cursor-pointer select-none items-center',
            'rounded-lg px-2 py-1.5 text-sm outline-none transition-colors',
            {
              'opacity-50 cursor-not-allowed pointer-events-none': props.disabled,
              'pl-8': props.inset,
            }
          ]
        })
        .except(['disabled', 'inset'])
        .toAttrs()
    }}
  >
    {{{ await $slots.main() }}}
  </a>
</li>
