@layouts.dash.app({
  title: 'DEVICES'
})

  <div class="lazy-container-sm">
    <section class="flex flex-row flex-wrap justify-between mb-5 gap-5">
      <div>
        <div class="text-lg font-bold">
          Devices
        </div>
        <div class="text-sm text-cat-600 dark:text-cat-400">
          A list of all the devices.
        </div>
      </div>
      <div>
        @button({
          'x-data': '{}',
          'x-dialog:toggle': 'new-device-modal',
        })
          <svg class="size-4 mr-1" xmlns="http://www.w3.org/2000/svg" viewbox="0,0,448,512">
            <path
              d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 144L48 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l144 0 0 144c0 17.7 14.3 32 32 32s32-14.3 32-32l0-144 144 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-144 0 0-144z"
              fill="currentColor"
              style="opacity: 1;"
            />
          </svg>
          New Device
        @end
      </div>
    </section>

    <section>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-4 gap-5" id="list-devices">
        @each(device in devices)
          <a class="group relative block rounded-2xl overflow-hidden shadow transition-all duration-300 transform" href="{{ route('device.detail', [ device.id ]) }}">
            <div class="relative z-20 bg-white text-cat-900 dark:bg-cat-800 dark:text-white p-6 rounded-2xl">
              <div class="flex justify-between items-center mb-4">
                <span class="text-sm text-cat-500">WA Session</span>
                <span class="text-sm text-cat-500"></span>
              </div>
              <div class="flex flex-col mb-6">
                <div class="text-sm line-clamp-1">{{ device.name }}</div>
                <div class="text-sm text-cat-500">{{ device.number }}</div>
              </div>
            </div>

            @if(device.status == 'connected')
            <div class="relative z-10 px-5 py-6 transition-all bg-emerald-300 text-emerald-800 dark:bg-emerald-500 dark:text-cat-900 rounded-b-2xl -mt-3">
              <div class="flex items-center justify-center text-sm font-medium absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/4">
                Connected
              </div>
            </div>
            @elseif(device.status == 'stopped')
            <div class="relative z-10 px-5 py-6 transition-all bg-yellow-200 text-yellow-800 dark:bg-yellow-200 rounded-b-2xl -mt-3">
              <div class="flex items-center justify-center text-sm font-medium absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/4">
                Stopped
              </div>
            </div>
            @else
            <div class="relative z-10 px-5 py-6 bg-cat-300 text-cat-800 dark:bg-cat-500 dark:text-cat-900 rounded-b-2xl -mt-3">
              <div class="flex items-center justify-center text-sm font-medium absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/4">
                Disconnected
              </div>
            </div>
            @end
          </a>
        @end
      </div>
    </section>
  </div>

  @dialog({
    id: 'new-device-modal',
    class: '!max-w-md'
  })
    @dialog.body({
      class: 'p-5'
    })
      @form({
        id: 'new-device-form',
        action: route('device.create'),
        method: 'post'
      })
        {{ (typeof csrfField === 'function') ? csrfField() : '' }}
        <div class="mb-3">
          @!label({ for: 'name', label: 'Name' })
          @!input({ type: 'text', name: 'name', id: 'name', placeholder: 'Name device' })
        </div>
        <div class="mb-3">
          @!label({ for: 'number', label: 'Whatsapp Number' })
          @!input({ type: 'number', name: 'number', id: 'number', placeholder: 'ex: 6285xxxx' })
        </div>
        <div class="text-end">
          @button({ type: 'submit' })
            Create
          @end
        </div>
      @end
    @end
  @end

@end

@pushTo('body')
  <script>
    window.addEventListener('form', ({ detail }) => {
      if (detail.id != 'new-device-form') return

      if (detail?.ok) {
        detail.element.target.reset()
        Alpine.store('dialog').close('new-device-modal')
        appendNewDevice(detail.data.data)
      }
    })

    function appendNewDevice(device) {
      const wrapper = document.getElementById('list-devices')

      const route = '{{ route('device.detail', [ ':id' ]) }}'

      wrapper.insertAdjacentHTML('beforeend', `
        <a class="group relative block rounded-2xl overflow-hidden shadow transform motion-preset-pop motion-duration-300" href="${route.replace(':id', device.id)}">
          <div class="relative z-20 bg-white text-cat-900 dark:bg-cat-800 dark:text-white p-6 rounded-2xl">
            <div class="flex justify-between items-center mb-4">
              <span class="text-sm text-cat-500">WA Session</span>
              <span class="text-sm text-cat-500">
              </span>
            </div>
            <div class="flex flex-col mb-6">
              <div class="text-sm line-clamp-1">${device.name}</div>
              <div class="text-sm text-cat-500">${device.number}</div>
            </div>
          </div>

          <div class="relative z-10 px-5 py-6 bg-cat-300 text-cat-800 dark:bg-cat-500 dark:text-cat-900 rounded-b-2xl -mt-3">
            <div class="flex items-center justify-center text-sm font-medium absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/4">
              Disconnected
            </div>
          </div>
        </a>
      `)
    }
  </script>
@end
